In [1]:
# Import dependencies
    # You'll need Pandas

In [2]:
# Declare a variable called 'url' 
    # and set it to the following link 
    # 'https://en.wikipedia.org/wiki/List_of_2018_box_office_number-one_films_in_the_United_States'

In [3]:
# Declare a variable called 'tables' and use pandas to parse through the url to retrieve all table data within the url.

[     0                   1                                      2  \
 0    #                Date                                   Film
 1    1     January 7, 2018         Jumanji: Welcome to the Jungle
 2    2    January 14, 2018         Jumanji: Welcome to the Jungle
 3    3    January 21, 2018         Jumanji: Welcome to the Jungle
 4    4    January 28, 2018            Maze Runner: The Death Cure
 5    5    February 4, 2018         Jumanji: Welcome to the Jungle
 6    6   February 11, 2018                     Fifty Shades Freed
 7    7   February 18, 2018                          Black Panther
 8    8   February 25, 2018                          Black Panther
 9    9       March 4, 2018                          Black Panther
 10  10      March 11, 2018                          Black Panther
 11  11      March 18, 2018                          Black Panther
 12  12      March 25, 2018                   Pacific Rim Uprising
 13  13       April 1, 2018                       Ready Player One
 14  14       April 8, 2018                          A Quiet Place
 15  15      April 15, 2018                                Rampage
 16  16      April 22, 2018                          A Quiet Place
 17  17      April 29, 2018                 Avengers: Infinity War
 18  18         May 6, 2018                 Avengers: Infinity War
 19  19        May 13, 2018                 Avengers: Infinity War
 20  20        May 20, 2018                             Deadpool 2
 21  21        May 27, 2018                Solo: A Star Wars Story
 22  22        June 3, 2018                Solo: A Star Wars Story
 23  23       June 10, 2018                              Ocean's 8
 24  24       June 17, 2018                          Incredibles 2
 25  25       June 24, 2018         Jurassic World: Fallen Kingdom
 26  26        July 1, 2018         Jurassic World: Fallen Kingdom
 27  27        July 8, 2018                   Ant-Man and the Wasp
 28  28       July 15, 2018  Hotel Transylvania 3: Summer Vacation
 29  29       July 22, 2018                        The Equalizer 2
 30  30       July 29, 2018          Mission: Impossible – Fallout
 31  31      August 5, 2018          Mission: Impossible – Fallout
 32  32     August 12, 2018                                The Meg
 33  33     August 19, 2018                      Crazy Rich Asians
 34  34     August 26, 2018                      Crazy Rich Asians
 35  35   September 2, 2018                      Crazy Rich Asians
 36  36   September 9, 2018                                The Nun
 37  37  September 16, 2018                           The Predator
 38  38  September 23, 2018    The House with a Clock in Its Walls
 39  39  September 30, 2018                           Night School
 40  40     October 7, 2018                                  Venom
 41  41    October 14, 2018                                  Venom
 42  42    October 21, 2018                              Halloween
 43  43    October 28, 2018                              Halloween
 44  44    November 4, 2018                      Bohemian Rhapsody
 45  45   November 11, 2018                             The Grinch

                3                                                  4
 0          Gross                                            Note(s)
 1    $37,233,653  Jumanji: Welcome to the Jungle reached #1 in i...
 2    $28,101,972                                                NaN
 3    $19,505,170  Jumanji: Welcome to the Jungle became the firs...
 4    $24,167,011                                                NaN
 5    $10,930,222  Jumanji: Welcome to the Jungle reclaimed the #...
 6    $38,560,195                                                NaN
 7   $202,003,951  Black Panther broke Captain America: Civil War...
 8   $111,658,835                                                NaN
 9    $66,306,935                                                NaN
 10   $40,817,579  Black Panther became the first film since Star...
 11   $26,650,690  Black Panther became the first film since Avat...
 12   $28,116,535  During the weekend, Black Panther became the h...
 13   $41,764,050                                                NaN
 14   $50,203,562                                                NaN
 15   $35,753,093                                                NaN
 16   $20,911,809  A Quiet Place reclaimed the #1 spot in its thi...
 17  $257,698,183  Avengers: Infinity War broke Furious 7's recor...
 18  $114,774,810  Avengers: Infinity War broke Star Wars: The Fo...
 19   $62,078,047                                                NaN
 20  $125,507,153  Deadpool 2 broke It's records for the highest ...
 21   $84,420,489                                                NaN
 22   $29,396,882                                                NaN
 23   $41,607,378                                                NaN
 24  $182,687,905  Incredibles 2 broke Finding Dory's records for...
 25  $148,024,610  Jurassic World: Fallen Kingdom and Incredibles...
 26   $60,912,195                                                NaN
 27   $75,812,205  During the weekend, Incredibles 2 ($503.7 mill...
 28   $44,076,225                                                NaN
 29   $36,011,640  In second place, Mamma Mia! Here We Go Again's...
 30   $61,236,534                                                NaN
 31   $35,323,815  During the weekend, Black Panther became the f...
 32   $45,402,195  The Meg broke Deep Blue Sea's record ($19.1 mi...
 33   $26,510,140                                                NaN
 34   $24,808,202                                                NaN
 35   $21,964,345  During the weekend, Incredibles 2 became the f...
 36   $53,807,379                                                NaN
 37   $24,632,284                                                NaN
 38   $26,608,020                                                NaN
 39   $27,257,615                                                NaN
 40   $80,255,756  Venom broke Gravity's record ($55.7 million) f...
 41   $35,006,107                                                NaN
 42   $76,221,545  Halloween broke Friday the 13th's record ($40....
 43   $31,419,070                                                NaN
 44   $51,061,119                                                NaN
 45   $67,572,855  The Grinch broke How the Grinch Stole Christma...  ,
        0                               1                 2               3
 0   Rank                           Title       Distributor  Domestic gross
 1     1.                   Black Panther            Disney    $700,059,566
 2     2.          Avengers: Infinity War      $678,815,482             NaN
 3     3.                   Incredibles 2      $608,307,640             NaN
 4     4.  Jurassic World: Fallen Kingdom         Universal    $416,769,345
 5     5.                      Deadpool 2  20th Century Fox    $318,491,426
 6     6.   Mission: Impossible – Fallout         Paramount    $220,159,104
 7     7.            Ant-Man and the Wasp            Disney    $216,648,740
 8     8.         Solo: A Star Wars Story      $213,767,512             NaN
 9     9.                           Venom              Sony    $207,578,901
 10   10.                   A Quiet Place         Paramount    $188,024,361,
        0              1
 0      G         Pandas
 1     PG  Incredibles 2
 2  PG-13  Black Panther
 3      R     Deadpool 2
 4  NC-17            NaN,
                                             0   \
 0      vteLists of box office number-one films
 1                                     Americas
 2                                    Argentina
 3                                       Brazil
 4                                       Canada
 5                                        Chile
 6                                     Colombia
 7                                      Ecuador
 8                                       Mexico
 9                       United States(Records)
 10                                   Venezuela
 11                                Asia-Pacific
 12                                   Australia
 13                           China (Hong Kong)
 14                                       India
 15                               Japan (Anime)
 16                      Philippines (Filipino)
 17                                 South Korea
 18                                      Taiwan
 19                         2014 2016 2017 2018
 20                                      Taipei
 21                                    Thailand
 22  Europe, the Middle East, and Africa (EMEA)
 23                                     Belgium
 24                                      France
 25                              Greece (Greek)
 26                                     Ireland
 27                                       Italy
 28                                 Netherlands
 29                                        2009
 ..                                         ...
 45                                      Mexico
 46                      United States(Records)
 47                                   Venezuela
 48                                   Australia
 49                           China (Hong Kong)
 50                                       India
 51                               Japan (Anime)
 52                      Philippines (Filipino)
 53                                 South Korea
 54                                      Taiwan
 55                         2014 2016 2017 2018
 56                                      Taipei
 57                                    Thailand
 58                         2014 2016 2017 2018
 59                                      Taipei
 60                                     Belgium
 61                                      France
 62                              Greece (Greek)
 63                                     Ireland
 64                                       Italy
 65                                 Netherlands
 66                                        2009
 67                                    See also
 68                                      Poland
 69                                     Romania
 70                                       Spain
 71                                      Turkey
 72                              United Kingdom
 73                                        2009
 74                                    See also

                                                    1                    2   \
 0                                                 NaN                  NaN
 1   Argentina 2016 Brazil 2007 2008 2009 2010 Cana...            Argentina
 2                                                2016                  NaN
 3                                 2007 2008 2009 2010                  NaN
 4        2002 2003 2004 2005 2006 2007 2008 2009 2010                  NaN
 5                                      2007 2008 2009                  NaN
 6                                                2011                  NaN
 7                                                2011                  NaN
 8   2002 2003 2004 2007 2008 2009 2010 2011 2012 2...                  NaN
 9   1982 1983 1984 1985 1986 1987 1988 1989 1990 1...                  NaN
 10            2009 2010 2011 2012 2013 2014 2015 2016                  NaN
 11  Australia 1997 1998 1999 2000 2001 2002 2003 2...            Australia
 12  1997 1998 1999 2000 2001 2002 2003 2004 2005 2...                  NaN
 13                      2013 2014 2015 2016 2017 2018                  NaN
 14               Indian overseas Bengali Hindi Telugu                  NaN
 15  2005 2006 2007 2008 2009 2010 2011 2012 2013 2...                  NaN
 16            2008 2009 2010 2011 2012 2013 2014 2015                  NaN
 17  2006 2007 2008 2009 2010 2011 2012 2013 2014 2...                  NaN
 18          2014 2016 2017 2018 Taipei 2016 2017 2018  2014 2016 2017 2018
 19                                                NaN                  NaN
 20                                     2016 2017 2018                  NaN
 21                                2015 2016 2017 2018                  NaN
 22  Belgium 2007 2008 2009 France 2011 2012 2013 2...              Belgium
 23                                     2007 2008 2009                  NaN
 24                 2011 2012 2013 2014 2015 2016 2017                  NaN
 25                                               2013                  NaN
 26                                               2011                  NaN
 27                 2009 2010 2011 2012 2013 2016 2017                  NaN
 28  2009 See also Crystal Films Golden Films Plati...                 2009
 29                                                NaN                  NaN
 ..                                                ...                  ...
 45  2002 2003 2004 2007 2008 2009 2010 2011 2012 2...                  NaN
 46  1982 1983 1984 1985 1986 1987 1988 1989 1990 1...                  NaN
 47            2009 2010 2011 2012 2013 2014 2015 2016                  NaN
 48  1997 1998 1999 2000 2001 2002 2003 2004 2005 2...                  NaN
 49                      2013 2014 2015 2016 2017 2018                  NaN
 50               Indian overseas Bengali Hindi Telugu                  NaN
 51  2005 2006 2007 2008 2009 2010 2011 2012 2013 2...                  NaN
 52            2008 2009 2010 2011 2012 2013 2014 2015                  NaN
 53  2006 2007 2008 2009 2010 2011 2012 2013 2014 2...                  NaN
 54          2014 2016 2017 2018 Taipei 2016 2017 2018  2014 2016 2017 2018
 55                                                NaN                  NaN
 56                                     2016 2017 2018                  NaN
 57                                2015 2016 2017 2018                  NaN
 58                                                NaN                  NaN
 59                                     2016 2017 2018                  NaN
 60                                     2007 2008 2009                  NaN
 61                 2011 2012 2013 2014 2015 2016 2017                  NaN
 62                                               2013                  NaN
 63                                               2011                  NaN
 64                 2009 2010 2011 2012 2013 2016 2017                  NaN
 65  2009 See also Crystal Films Golden Films Plati...                 2009
 66                                                NaN                  NaN
 67  Crystal Films Golden Films Platinum Films Diam...                  NaN
 68                                     2010 2011 2013                  NaN
 69  2008 2009 2010 2011 2012 2013 2014 2015 2016 2...                  NaN
 70  2007 2008 2009 2010 2011 2012 2013 2014 2015 2...                  NaN
 71            2011 2012 2013 2014 2015 2016 2017 2018                  NaN
 72  1991 1992 1993 1994 1995 1996 1997 1998 1999 2...                  NaN
 73                                                NaN                  NaN
 74  Crystal Films Golden Films Platinum Films Diam...                  NaN

                                                    3   \
 0                                                 NaN
 1                                                2016
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11  1997 1998 1999 2000 2001 2002 2003 2004 2005 2...
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                             Taipei
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                     2007 2008 2009
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                           See also
 29                                                NaN
 ..                                                ...
 45                                                NaN
 46                                                NaN
 47                                                NaN
 48                                                NaN
 49                                                NaN
 50                                                NaN
 51                                                NaN
 52                                                NaN
 53                                                NaN
 54                                             Taipei
 55                                                NaN
 56                                                NaN
 57                                                NaN
 58                                                NaN
 59                                                NaN
 60                                                NaN
 61                                                NaN
 62                                                NaN
 63                                                NaN
 64                                                NaN
 65                                           See also
 66                                                NaN
 67                                                NaN
 68                                                NaN
 69                                                NaN
 70                                                NaN
 71                                                NaN
 72                                                NaN
 73                                                NaN
 74                                                NaN

                                                    4   \
 0                                                 NaN
 1                                              Brazil
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                  China (Hong Kong)
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                     2016 2017 2018
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                             France
 23                                                NaN

In [4]:
# Check the type of data in tables, should be list.

list

In [8]:
# Set your new information in 'tables' to a dataframe.



# Give your dataframe new column names.


# Display the first 5 rows in the dataframe.

,Number,Date,Film,Gross,Note(s)
0,#,Date,Film,Gross,Note(s)
1,1,"January 7, 2018",Jumanji: Welcome to the Jungle,"$37,233,653",Jumanji: Welcome to the Jungle reached #1 in i...
2,2,"January 14, 2018",Jumanji: Welcome to the Jungle,"$28,101,972",NaN
3,3,"January 21, 2018",Jumanji: Welcome to the Jungle,"$19,505,170",Jumanji: Welcome to the Jungle became the firs...
4,4,"January 28, 2018",Maze Runner: The Death Cure,"$24,167,011",NaN

In [9]:
# Be sure to drop the first row, if they include the column names.


# Display the first 10 rows in the dataframe.

,Number,Date,Film,Gross,Note(s)
1,1,"January 7, 2018",Jumanji: Welcome to the Jungle,"$37,233,653",Jumanji: Welcome to the Jungle reached #1 in i...
2,2,"January 14, 2018",Jumanji: Welcome to the Jungle,"$28,101,972",NaN
3,3,"January 21, 2018",Jumanji: Welcome to the Jungle,"$19,505,170",Jumanji: Welcome to the Jungle became the firs...
4,4,"January 28, 2018",Maze Runner: The Death Cure,"$24,167,011",NaN
5,5,"February 4, 2018",Jumanji: Welcome to the Jungle,"$10,930,222",Jumanji: Welcome to the Jungle reclaimed the #...
6,6,"February 11, 2018",Fifty Shades Freed,"$38,560,195",NaN
7,7,"February 18, 2018",Black Panther,"$202,003,951",Black Panther broke Captain America: Civil War...
8,8,"February 25, 2018",Black Panther,"$111,658,835",NaN
9,9,"March 4, 2018",Black Panther,"$66,306,935",NaN
10,10,"March 11, 2018",Black Panther,"$40,817,579",Black Panther became the first film since Star...

In [12]:
# Save the data as an html.